@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2") format("woff2");
} /* Change font if wanted */

:root {
    --blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;user-select: none;scrollbar-color: dark;-webkit-tap-highlight-color: transparent;
}

*,::after,::before {
    box-sizing: border-box
}

/* Scrollbar info */
::-webkit-scrollbar {
	width: 14px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	border-radius: 10px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-color: hsl(116, 7%, 30%);
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background: #8c463d;
}

html, body {
	height: auto;
	margin: 0px;
	padding: 0px;
}

body {
	font: normal 20px/1.4 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0 auto;
	background-color: #121113;
}

p, h1, th, td {color: white;}

.navBar{
	overflow: hidden;
	background-color: #5A5A5A;
	width: 100%;
}
.navBar a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	color: white;
	float: right;
	text-decoration: none;	
}
.navBar a.left{float:left;}
.navBar a:hover{
	/*background-color: #7fa751;*/
	background-color: #8c463d;
}

table, td, th{
	border: 2px solid white;
	text-align: center;
}

tr:nth-child(even) {
	/*background-color: #8c463d;*/
	background-color: #373738;
}

td a, td a:visited {
	color: #57e5ff;
}

@media (max-width: 847px) {
	.navBar {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.navBar a {
		float: none;
		width: 100%;
		padding: 6px;
	}
	
	#userButton {
		order: 4;
	}
}