.leaderboard{float:left;}
.recent{float: right;}

.pendingGames{/*pending games is floating right and takes up 75% of thes screen */
	float: right;
	padding: 10px;	
	width: 75%;
	/*background: #262521;*/
}
.recent{/*recent games floats left and is 25% of the screen */
	float: left;
	padding: 10px;
	width: 20%;
	/*background: #262521;*/
	
}
.pendingGames p, .recent p{
	margin: 10px;
}

.heading{
	text-align: center;
}

table{
	width: 100%;
}

input[type=text], input[type=number]{/*number/text input info */
  width: 95%;
  padding: 12px 20px;
  margin: auto;	
  display: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #393939;
  
  color: white;
}
.buttonContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
#submitButton{/*button is flex in center of div */
	/*background-color: #7fa751;*/
	background-color: #8c463d;
	text-align: center;
	color: white;
	display: block;
	border-radius: 8px;
	width: 200px;
	height: 60px;
	font-size: 24px;
	
	/*position: relative;
	left: 50px;*/
		
	
	cursor: pointer;
}
#submitButton:hover{/*changes button hover color */
	background-color: white;
	color: #8c463d;
}

#submitButton:disabled {/*changes button color when disabled by js in games.html */
	background-color: #57403d;
}

@media (max-width: 800px) {
	.pendingGames, .recent{/*table and input divs take up whole screen and are stacked on top of each other */
		float:none;
		width: 100%;
		 
	}
	
	input[type=text], input[type=number]{ /*input fields take up whole screen */
		margin: 0px;	
		width: 100%;
	}
	
}
	