
table{width: 50%}

.leaderboard{float:left;}
.recent{float: right;}
p, h1, th, td{color: white;}

.pendingGames{
	float: right;
	padding: 10px;	
	width: 75%;
	/*background: #262521;*/
}
.recent{
	float: left;
	padding: 10px;
	width: 20%;
	/*background: #262521;*/
	
}
.pendingGames p, .recent p{
	margin: 10px;
}

.heading{
	text-align: center;
}

table{
	width: 100%;
}

input[type=text], input[type=number]{
  width: 95%;
  padding: 12px 20px;
  margin: auto;	
  display: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #393939;
  
  color: white;
}
.buttonContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
#submitButton{
	/*background-color: #7fa751;*/
	background-color: #8c463d;
	text-align: center;
	color: white;
	display: block;
	border-radius: 8px;
	width: 200px;
	height: 60px;
	font-size: 24px;
	
	/*position: relative;
	left: 50px;*/
		
	
	cursor: pointer;
}
#submitButton:hover{
	background-color: white;
	color: #8c463d;
}

#submitButton:disabled {
	background-color: #57403d;
}

@media (max-width: 800px) {
	.pendingGames, .recent{
		float:none;
		width: 100%;
		 
	}
	
	input[type=text], input[type=number]{
		margin: 0px;	
		width: 100%;
	}
	
}
	