h1{
	text-align: center;	
	font-size: 6.5vw;
	margin-bottom: 2%;
}

p{
	text-align: center;
	color: white;
}

.links{
	display: flex;
	color: #f95a42;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
}

.links a, .links a:visited {
	color: #f95a42;
	text-decoration: none;
	background: transparent;
}
.links a:hover{
	color: #FF9888;
}

.welcomeContainer{
	color: white;
	margin-top: 8%;
	margin-left: 25%;
	margin-right: 25%;
}

body p{
	color: inherit;
}

@media (max-width: 500px) {
	.links{
		/*margin-left: 20%;
		margin-right: 20%;*/
		flex-direction: column;
	}
}