.inputContainer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);/*places input container in the center of the screen*/
	width: 500px;
	height: 600px;
	background: #262521;
	border-radius: 25px;
	border: 2px solid white;
	color: white;
}

.loginHeading{
	color: white;
	text-align: center;
}

.loginHeading p {
	margin: 0 2.5%;
}

input[type=text]{
  width: 95%;
  padding: 12px 20px;
  margin: auto;	
  display: inherit;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #393939;
  
  color: white;
}

.emailBtn{
	background-color: #8c463d;
	text-align: center;
	color: white;
	display: block; 	
	border-radius: 8px;
	width: 400px;
	height: 60px;
	font-size: 24px;
	
	position: relative;
	left: 50px;
	top: 30px;
	
	cursor: pointer;/*changes cursor to pointer when hovering*/
}

.emailBtn:hover{/*changes button color when hovering*/
	background-color: white;
	color: #8c463d;
}

.emailBtn:disabled {/*changes email button when disabled*/
	background-color: #57403d;
}

p {
	margin-left: 2.5%;
}

@media (max-width: 800px) {
	.inputContainer{/*makes the input div the whole screen width*/
		width: 95vw;
		align-items: center;
	}
	
	.emailBtn{/*submit button is roughly 70% of the screen */
		width: 70vw;
		margin: auto;
		left: 0px;
	}
}