/*

git remote -v (double checks our remote. This should need to be changed this project since we've settled on the name for the project)
git add . (Add all files to staging area)
git commit -m "MESSAGE HERE LMAO" (Stage our commit)
git push origin main (Send our commit to the server)

done :D

*/
p, th, td, h1{color: white;}
.heading{
	text-align: center;
}
th, td{
	padding: 8px;
	color: white;
	user-select: text;
}
.tablesContainer{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.topPlayers{
	float: left;
	padding: 10px;
	width: 35%;
	/*background-color: blue;*/
}
.recentGames{
	float: right;
	padding: 10px;
	width: 65%;
	
	/*background-color: red;*/
}
/*.tablesContainer{margin: 30px;}*/
table{width: 100%}
.leaderboard{float:left;}

#gamesTableWrap {
	transform: rotateX(180deg);
	overflow-x: auto;
}
#gamesTable {
	transform: rotateX(180deg);
}

.tableR, .tableG, .tableY {
    display: inline;
	font-weight: bold;
}

.tableR {
	color: #FF0000;
}

.tableG {
	color: #00DD00;
}

.tableY {
	color: #DDDD00;
}

.tableC {
	font-style: italic;
    font-size: 16px;
}

@media (max-width: 847px) {
	.navBar{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		
	}
	.navBar a{
		float: none;
		width: 100%;
		padding: 6px;
	
	}
	table{
		width: 100%;
	}
	#gamesTable, #playerTable{
		overflow-x: scroll;
	}
	.recentGames, .topPlayers{
		float: none;
		width: 100%;
		padding: 6px 2px 6px 2px;
		margin: none;
	}
	
		
	.tablesContainer{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#userButton{
		order: 4;
	}
	
}





	
	

