h1, h2, p, th, td{
	color: white;
}
.heading{
	text-align: center;
}
.userStats{
	padding: 10px;
	width: 55%;
	float: left;
}

.tableContainer{
	width: 45%;
	padding: 10px;
	float: right;
}
.glickoStats{
	height: 50%;
	width: 100%;
	
	background: #262521;
	border-radius: 25px;
	border: 2px solid white;
	color: white;
}
.mainStats{
	height: 50%;
	width: 100%;
	
	background: #262521;
	border-radius: 25px;
	border: 2px solid white;
	color: white;
	margin-bottom: 10px;
}

p, h4{
	padding-left: 10px;
}
table{width: 100%;}

.tableR, .tableG, .tableY {
    display: inline;
	font-weight: bold;
}

.tableR {
	color: #FF0000;
}

.tableG {
	color: #00DD00;
}

.tableY {
	color: #DDDD00;
}

.tableC {
	font-style: italic;
    font-size: 16px;
}

@media (max-width: 800px) {
	.userStats, .tableContainer{
		float: none;
		width: 100%
	}
}

